<h2>Club Name: <%= @club.name %></h2>

<div class='club_invested'>
  <h3>Members</h3>
  <strong><span class='tre'>Name</span><span class='tre'>Percentage</span><span class='tre money'>Value</span></strong>
  <ul>
    <% @members.each do |m| %>
      <li><span class='tre'><%= m.name %></span><span class='tre'><%= number_to_percentage(m.ownership(@club), :precision => 1) %></span><span class='tre money'><%= number_to_currency(m.total_deposits(@club)) %></span></li>
    <% end %>
  </ul>
</div>
<div class='club_value'>
  <h3>Pending Votes</h3>

</div>
<div class='clearfix'></div>


<div class='club_invested'>
  <h3>Invested Capital</h3>
      <strong><span class='tre'>Date</span><span class='tre'>Name</span><span class='tre money'>Amount</span></strong>

  <ul>
    <% @deposits.each do |d| %>
      <li>
        <span class='tre'><%= d.date %></span>
        <span class='tre'><%= d.user.name %></span>
        <span class='tre money'><%= number_to_currency(d.amount) %></span>
      </li>
    <% end %>
    <li>
      <span class='tre'></span>
      <span class='tre'><strong>Total</strong></span>
      <span class='tre money'><strong><%= number_to_currency(@total_invested) %></strong></span>
    </li>
  </ul>
<%= number_to_currency(@total_invested) %>
  <div>
    <%= form_tag('/deposits') do %>
      <%= text_field_tag 'amount', '', :id => 'deposit' %>
      <%= hidden_field_tag 'club_id', @club.id %>
      <%= submit_tag 'Contribute', :class => 'small button', :id => 'contribute' %>
    <% end %>
  </div>
</div>
<div class='club_value'>
  <h3>Club Holdings</h3>
  <div id="holdings_list" style="height: 250px;">
    <ul>
      <% @holdings.each do |k,v| %>
        <li><%= k %> - <%= number_to_currency(v) %></li>
      <% end %>
    </ul>
  </div>
  <div id="holdings_view" style="height: 250px;">

  </div>
</div>
<div class='clearfix'></div>
<div class='club_requests'>
  <h3>Make a Request</h3>
  <%= link_to 'Request', new_request_path %>
</div>
<div class='clearfix'></div>
<h3>Performance</h3>
charts here


<script>

new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'holdings_view',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [
    { year: '2008', value: 20 },
    { year: '2009', value: 10 },
    { year: '2010', value: 5 },
    { year: '2011', value: 5 },
    { year: '2012', value: 20 }
  ],
  // The name of the data record attribute that contains x-values.
  xkey: 'year',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['value'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Value']
});

</script>