<div class="row">
  <div class="large-12 columns">
    <h2><%= @club.name.upcase %></h2>    
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <h3 class="submarine">MEMBERS</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Percentage</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |m| %>
          <tr>
            <td><%= m.name %></td>
            <td><%= number_to_percentage(m.ownership(@club), :precision => 1) %></td>
            <td><%= number_to_currency(m.total_deposits(@club)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="large-6 columns">
    <h3 class="submarine">PENDING VOTE</h3>
    <table>
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Yay</th>
          <th>Nay</th>
        </tr>
      </thead>
      <tbody>
        <% @votes.each do |v| %>
          <tr>
            <td><%= v.request.symbol %></td>
            <td><%= v.request.quantity %></td>
            <td><%= v.request.price %></td>
            <td><%= button_tag :accept, id: v.id, class: 'accept tiny button success' %></td>
            <td><%= button_tag :decline , id: v.id, class: 'decline tiny button alert' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class='club_invested'>
  <strong><span class='tre'>Name</span><span class='tre'>Percentage</span><span class='tre money'>Value</span></strong>
  <ul>
    

  </ul>
</div>
<div class='club_value'>
 
</div>
<div class='clearfix'></div>

<button class='large' id='graph_it'>graph it</button>

<div class='club_invested'>
  <h3>Invested Capital</h3>
      <strong><span class='tre'>Date</span><span class='tre'>Name</span><span class='tre money'>Amount</span></strong>

  <ul>
    <% @deposits.each do |d| %>
      <li>
        <span class='tre'><%= d.date %></span>
        <span class='tre'><%= d.user.name %></span>
        <span class='tre money'><%= number_to_currency(d.amount) %></span>
      </li>
    <% end %>
    <li>
      <span class='tre'></span>
      <span class='tre'><strong>Total</strong></span>
      <span class='tre money'><strong><%= number_to_currency(@total_invested) %></strong></span>
    </li>
  </ul>
  <div>
    <%= form_tag('/deposits') do %>
      <%= text_field_tag 'amount', '', :id => 'deposit' %>
      <%= hidden_field_tag 'club_id', @club.id %>
      <%= submit_tag 'Contribute', :class => 'small button', :id => 'contribute' %>
    <% end %>
  </div>
</div>
<div class='club_value'>
  <h3>Club Holdings</h3>
  <div id="holdings_list">
    <ul>
      <% @holdings.each do |k,v| %>
        <li><%= k %> - <%= number_to_currency(v) %></li>
      <% end %>
    </ul>
  </div>
  <div id="holdings_view">

  </div>
</div>
<div class='clearfix'></div>
<div class='club_requests'>
  <h3>Make a Request</h3>
  <%= link_to 'Request', new_request_path %>
</div>
<div class='clearfix'></div>
<h3>Performance</h3>
charts here
