<div class="row">
  <div class="large-12 columns">
    <h2>Club Name: <%= @club.name %></h2>
    <h3><span class="label">Performance: <%= @performance.to_i %>%</span></h3>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <h3 class="submarine">MEMBERS</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Percentage</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |m| %>
          <tr>
            <td><%= m.name %></td>
            <td><%= number_to_percentage(m.ownership(@club), :precision => 1) %></td>
            <td><%= number_to_currency(m.total_deposits(@club)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="large-6 columns">
    <% if @votes.present? %>
    <h3 class="submarine">PENDING VOTE</h3>
    <table>
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Yay</th>
          <th>Nay</th>
        </tr>
      </thead>
      <tbody>
        <% @votes.each do |v| %>
          <tr>
            <td><%= v.request.symbol %></td>
            <td><%= v.request.quantity %></td>
            <td><%= v.request.price %></td>
            <td><%= button_tag :accept, id: v.id, class: 'accept tiny button success' %></td>
            <td><%= button_tag :decline , id: v.id, class: 'decline tiny button alert' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <h3 class="submarine">MAKE A REQUEST</h3>
    <%= link_to 'Request', new_request_path, class: "small button", id: "graph_it"  %>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <h3 class="submarine">INVESTED CAPITAL</h3>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @deposits.each do |d| %>
          <tr>
            <td><%= d.date %></td>
            <td><%= link_to d.user.name, d.user %></td>
            <td><%= number_to_currency(d.amount) %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><h4>TOTAL</h4></td>
          <td><%= number_to_currency(@total_invested) %></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="large-12 columns">
        <div class="row collapse">
          <%= form_tag('/deposits') do %>
            <div class="small-2 columns">
              <span class="prefix">USD &#36;</span>
            </div>
            <div class="small-8 columns">
              <%= hidden_field_tag 'club_id', @club.id %>
              <%= text_field_tag 'amount' %>
            </div>
            <div class="small-2 columns">
              <%= submit_tag 'Contribute', :class => 'button prefix' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="large-6 columns">
    <h3 class="submarine">CLUB HOLDINGS</h3>
    <table>
      <thead>
        <tr>
          <th>Security</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <% @club.holdings.each do |k,v| %>
        <tr>
          <td><%= k %></td>
          <td><%= number_to_currency(v) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class='club_value'>
  
  <%= content_tag :div, "", id: "holdings_view", data: {holdings: @holdings } %>

  <!-- <div id='holdings_view'>  </div> -->
</div>
</div>
<div class='clearfix'></div>
<h3>Performance</h3>

charts here
<%= @big_graph %>

<div id="area-example"></div>
