<h2>Club Name: <%= @club.name %></h2>

<div class='club_invested'>
  <h3>Members</h3>
  <strong><span class='tre'>Name</span><span class='tre'>Percentage</span><span class='tre money'>Value</span></strong>
  <ul>
    <% @members.each do |m| %>
      <li><span class='tre'><%= m.name %></span><span class='tre'><%= number_to_percentage(m.ownership(@club), :precision => 1) %></span><span class='tre money'><%= number_to_currency(m.total_deposits(@club)) %></span></li>
    <% end %>
  </ul>
</div>
<div class='club_requests'>
  <h3>Make a Request</h3>
  <%= link_to 'Request', new_request_path, class: "large", id: "graph_it"  %>
</div>
<!-- <div class='clearfix'></div> -->
<div class='club_value'>
  <h3><%= 'Pending Votes' if @votes.present? %></h3>
  <ul>
    <% @votes.each do |v| %>
      <li>
        <div class='quads rity'><%= v.request.symbol %></div>
        <div class='quads rity'><%= v.request.quantity %></div>
        <div class='quads rity'><%= number_to_currency(v.request.price) %></div>
        <%= button_tag :accept, id: v.id, class: 'accept tiny button success' %>
        <%= button_tag :decline , id: v.id, class: 'decline tiny button alert' %>
      </li>
    <% end %>
  </ul>
</div>
<div class='clearfix'></div>

<div class='club_invested'>
  <h3>Invested Capital</h3>
      <strong><span class='tre'>Date</span><span class='tre'>Name</span><span class='tre money'>Amount</span></strong>

  <ul>
    <% @deposits.each do |d| %>
      <li>
        <span class='tre'><%= d.date %></span>
        <span class='tre'><%= d.user.name %></span>
        <span class='tre money'><%= number_to_currency(d.amount) %></span>
      </li>
    <% end %>
    <li>
      <span class='tre'></span>
      <span class='tre'><strong>Total</strong></span>
      <span class='tre money'><strong><%= number_to_currency(@total_invested) %></strong></span>
    </li>
  </ul>
  <div>
    <%= form_tag('/deposits') do %>
      <%= text_field_tag 'amount', '', :id => 'deposit' %>
      <%= hidden_field_tag 'club_id', @club.id %>
      <%= submit_tag 'Contribute', :class => 'small button', :id => 'contribute' %>
    <% end %>
  </div>
</div>
<div class='club_value'>
  <h3>Club Holdings</h3>
  <div id="holdings_list">
    <strong><div class='tre'>Security</div>
    <div class='tre'>Quantity</div>
    <div class='tre'>Value</div></strong>
    <ul>
      <% @holdings.each do |k,v| %>
        <li>
          <div class='tre'><%= k %></div>
          <div class='tre rity'><%= number_to_currency(v) %></div>
        </li>
      <% end %>
    </ul>
  </div>
  <%= content_tag :div, "", id: "holdings_view", data: {holdings: @club.holdings} %>

</div>
<div class='clearfix'></div>
<h3>Performance</h3>
charts here


<script>
new Morris.Donut({
  element: 'holdings_view',
  data: [
    {label: "GOOG", value: 5855},
    {label: "AAPL", value: 8548},
    {label: "VMW", value: 5160},
    {label: "CTSH", value: 2824}
  ]
});

</script>