<h2>Club Name: <%= @club.name %></h2>

<h3>Members</h3>
<ul>
  <% @members.each do |m| %>
    <li><%= m.name %> | % ownerships | total * % ownership</li>
  <% end %>
</ul>

<!-- add % ownership -->

<div class='club_invested'>
  <h3>Total Invested Capital</h3>
  <ul>
    <% @deposits.each do |d| %>
      <li><%= d.date %> | <%= d.user.name %> | <%= number_to_currency(d.amount) %></li>
    <% end %>
  </ul>
  <%= number_to_currency(@total_invested) %>
  <div>
    <%= form_tag do %>
      <%= text_field_tag 'amount' %>
    <% end %>
    <a href="#" class="small button">Invest</a>
  </div>
</div>
<div class='club_value'>
  <h3>Club Holdings</h3>
  Security List + Qty + Value
  <br>
  Total Portfolio Value
</div>
<div class='clearfix'></div>
<h3>Performance</h3>
charts here