<h2>Club Name: <%= @club.name %></h2>

<div class='club_invested'>
  <h3>Members</h3>
  <strong><span class='tre'>Name</span><span class='tre'>Percentage</span><span class='tre money'>Value</span></strong>
  <ul>
    <% @members.each do |m| %>
      <li><span class='tre'><%= m.name %></span><span class='tre'>33%</span><span class='tre money'><%= number_to_currency(1000) %></span></li>
    <% end %>
  </ul>
</div>
<div class='clearfix'></div>


<div class='club_invested'>
  <h3>Invested Capital</h3>
      <strong><span class='tre'>Date</span><span class='tre'>Name</span><span class='tre money'>Amount</span></strong>

  <ul>
    <% @deposits.each do |d| %>
      <li>
        <span class='tre'><%= d.date %></span>
        <span class='tre'><%= d.user.name %></span>
        <span class='tre money'><%= number_to_currency(d.amount) %></span>
      </li>
    <% end %>
  </ul>
  <span class='tre'></span><span class='tre'></span><span class='tre money'><%= number_to_currency(@total_invested) %></span>
  <div>
    <%= form_tag('/deposits') do %>
      <%= text_field_tag 'amount', '', :id => 'deposit' %>
      <%= hidden_field_tag 'club_id', @club.id %>
      <%= submit_tag 'Contribute', :class => 'small button', :id => 'contribute' %>
    <% end %>
  </div>
</div>
<div class='club_value'>
  <h3>Club Holdings</h3>
  <ul>
    <% @holdings.each do |k,v| %>
      <li><%= k %> - <%= number_to_currency(v) %></li>
    <% end %>
  </ul>
  <br>
  Total Portfolio Value
</div>
<div class='clearfix'></div>
<div class='club_requests'>
  <h3>Make a Request</h3>
  <%= link_to 'Request', new_request_path %>
</div>
<div class='clearfix'></div>
<h3>Performance</h3>
charts here